<!-- <p>footer works!</p> -->
<!-- Footer -->
<!-- <footer class="page-footer font-small cyan darken-3"> -->
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>LINEAS</h3>
                <ul>
                    <li><a href="/home">Sudaderas</a></li>
                    <li><a href="/home">Pijamas</a></li>
                    <li><a href="/home">Busos</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>NOSOTROS</h3>
                <ul>
                    <li><a href="/nosotros">Concepto</a></li>
                    <li><a href="/nosotros">Misión:</a></li>
                    <li><a href="/nosotros">Visión:</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>DOREEN FASHIO</h3>
                <p>Somos un emprendimiento colombiano, dedicado a la comercialización de prendas de dormir y deportiva para toda la familia. Buscamos satisfacer las necesidades de nuestros clientes, que cuentan con los mejores productos y con materiales de la mejor calidad, destacados por una excelente calidad y servicio personalizado..</p>
            </div>
            <div class="col item social">
                <a href="https://www.facebook.com/dorian.aristizabalbermudez" ><i class="icon ion-social-facebook"></i></a>
                <a  data-bs-toggle="modal" data-bs-target="#dialogo1" style="cursor:pointer;"><i class="icon ion-social-twitter"></i></a>
                <a data-bs-toggle="modal" data-bs-target="#dialogo1" style="cursor:pointer;"><i class="icon ion-social-snapchat"></i></a>
                <a data-bs-toggle="modal" data-bs-target="#dialogo1" style="cursor:pointer;"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Doreen Fashion © 2021</p>
    </div>
   
    <!-- <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://markanny.ga/"> MarkAnny.ga</a>
    </div> -->
    <!-- Copyright -->

</footer>
<!-- Footer -->