
    <header class="text-center text-white masthead" style="height: 300;padding-bottom: 100px;padding-top: 117px;">
        <div class="masthead-content" style="border-style: none;">
            <div class="container">
                <h1 class="masthead-heading mb-0">Doreen Fashion Misi<strong>ó</strong>n Visi<strong>ó</strong>n<br></h1>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section class="mt-sm-auto mt-md-auto">
        <div class="container">
            <div class="row align-items-center" style="height: 330px;">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/images/c%20(11).jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">SOBRE NOSOTROS.<br></h2>
                        <p>Somos un emprendimiento colombiano, dedicado a la&nbsp;comercialización de prendas de dormir y deportiva para toda la familia.&nbsp;Buscamos satisfacer las necesidades de nuestros clientes, que cuentan con los&nbsp;mejores productos y con materiales de la mejor calidad, destacados por una&nbsp;excelente calidad y servicio personalizado.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center" style="height: 331.453px;">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/images/c%20(10).jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4"><strong>Misión:</strong>&nbsp;</h2>
                        <p>Elaborar productos textiles e&nbsp;innovadores de alta calidad que satisfagan las necesidades de nuestros<br>clientes, brindando siempre un servicio de excelencia capacitándonos y&nbsp;orientándonos a una mejora continua en nuestros procesos para así lograr la&nbsp;rentabilidad que permita el crecimiento de nuestra empresa .<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/images/co.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><strong>Visión:</strong>&nbsp;<br></h2>
                        <p>Ser una empresa líder en pijamas&nbsp;y ropa deportiva personalizada reconocida por su innovación, calidad y servicio&nbsp;a nivel nacional, promoviéndose siempre como una oportunidad laboral para mujeres&nbsp;cabeza de familia y describiéndose como un lugar extraordinario para trabajar.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>