<!-- <div class="container"> -->
<app-navbar></app-navbar>
<!-- <app-filtro [category]="category"></app-filtro> -->
<!-- <app-product></app-product> -->
<!-- <app-footer></app-footer> -->
<!-- <app-product-card></app-product-card> -->
<!-- <app-boot-card></app-boot-card> -->
<!-- <app-bootishop></app-bootishop> -->
<!-- <nav>
    <a routerLink="/product-filter">filtro</a>
</nav> -->

<!-- <app-nosostros></app-nosostros> -->
<!-- <div class="container"> -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <!-- <app-nosostros></app-nosostros> -->
     <!-- app-nosostros -->
<!-- </div> -->
